@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    outline: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    padding: 0;
}
.cabecalho {
    background-color: #4472C4;
    padding: 30px;
}
.cabecalho-dentro {
    background-color: #DAE3F3;
    padding: 5px;
    width: 100%;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}
.cabecalho img {
    width: 40px;
}
.cabecalho button {
    font-size: x-small;
    width: 100px;
    cursor: pointer;
    height: 23px;
    border-color: #4472C4;
    border-radius: 5px;
    background-color: white;
    color: black;
}
.cabecalho button:hover {
    background-color: rgba(238, 235, 235, 0.938);
}
.cabecalho-direita {
    display: flex;
    align-items: center;
    gap: 10px;
}
.cabecalho-esquerda {
    display: flex;
    gap: 10px;
    align-items: center;
}
.dropbtn {
    background-color: #4472C4;
    border-color: #4472C4;
}
.dropdown {
    position: relative;
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #DAE3F3;
    font-size: 0.75em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    border-radius: 5px;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.campo-de-busca {
    background-image: url(/img/wallpaperflare.com_wallpaper.jpg);
}
.campo-de-busca h1{
    font-size: x-large;
}